<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30093748070-0g4j9vm9ctsg4stvgnanafcrlnqr8bt1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30093748070-0g4j9vm9ctsg4stvgnanafcrlnqr8bt1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>30093748070-3lepf2q3ja35eos9c2caa875ai7mhgja.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApwzJ3YNRak3lBXmJSz9DVg2g4S7eMqzo</string>
	<key>GCM_SENDER_ID</key>
	<string>30093748070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awign.intern</string>
	<key>PROJECT_ID</key>
	<string>awign-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>awign-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30093748070:ios:8ea389052734c6c7210aa7</string>
	<key>DATABASE_URL</key>
	<string>https://awign-chat.firebaseio.com</string>
</dict>
</plist>